################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp_StandardHelloWorld/.vs/ConsoleApp_StandardHelloWorld/v15
/ConsoleApp_StandardHelloWorld/obj
/.vs
/ConsoleApp_StandardHelloWorld/bin/Debug
